html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: url(../images/bg.png) no-repeat;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
    height:100%;
}

a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #00f;
}

h1 {
    color: #000000;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;
    font-size: 11px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 500px;
	height: 15px;
	vertical-align: top;
    resize: none;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}

p {

padding-bottom:5px;
padding-top:5px;
color:#000;

}

div.center{
	min-height:900px;
	width:900px;
	margin-left:auto;
	background-image:url(../images/bg2.jpg);
	margin-right:auto
	}

/* NAVIGATION MENU */

.nav {
    background: #227;
    border: 1px solid #000;
    border-style: solid none solid none;
    margin-top: -2px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #fff;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #fff;
    padding-left: 25px;
}
.menuButton a.plist {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #fff;
    padding-left: 25px;
}
.menuButton a.elist {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #fff;
    padding-left: 25px;
}
.menuButton a.pcreate {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #fff;
    padding-left: 25px;
}
.menuButton a.ecreate {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #fff;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: #227;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #000;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #227;
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #fff;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #000;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #227;
    border: 1px solid #000;
    border-top: 0;
    color: #3cf;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #227;
    border: 0px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #fff;
    margin: 0 3px;
    padding: 2px 6px;
}

.paginateButtons a:hover {
    color: #3cf;
}

.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
    background: #227;
    color:#fff;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: right;
    font-weight:bold;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    background: #227;
    border: 1px solid #000;
    color: #000;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
    margin-bottom:10px;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
